.header-title .title-right {
  position: absolute;
  right: 0;
  top: 10px;
  line-height: 32px;
  font-weight: normal;
  .ant-radio-button-wrapper {
    color: #293038;
  }
  color: #293038;
  .yc-search-line {
    display: inline-block;
  }
  .ant-radio-group {
    margin-right: 20px;
  }
}