.left-wrapper {
  background: white;
  .content-wrapper {
    padding: 0 20px;
    .first-content,.second-content {
      padding-bottom: 14px;
      height: 119px;
      border-bottom: 1px solid #EDEFF3;
      .content {
        text-align: center;
        .content-left {
          text-align: right;
        }
        .content-right {
          text-align: left;
        }
        .content-left, .content-right {
          vertical-align: top;
          display: inline-block;
          .label {
            color: #7D8699;
          }
          .value {
            color:#293038;
            .number {
              font-weight: bold;
              font-size: 22px;
              margin-right: 6px;
            }
          }
        }
        .content-center {
          display: inline-block;
          margin: 0 30px;
          font-size: 12px;
          .ratio {
            display: inline-block;
            height: 16px;
          }
          .border-bottom {
            width: 130px;
            height: 8px;
            overflow: hidden;
            border-bottom: 2px dashed #016AA9;
            color: #016AA9;
            position: relative;
            margin-bottom: 6px;
            .anticon-arrow-right {
              font-size: 14px;
              position: absolute;
              right: -2px;
            }
          }
          .border-top {
            overflow: hidden;
            width: 130px;
            height: 8px;
            border-top: 2px dashed #016AA9;
            color: #016AA9;
            position: relative;
            .anticon-arrow-left {
              font-size: 14px;
              position: absolute;
              left: -2px;
              bottom: 0;
            }
          }
        }
      }
    }
    .third-content {
      border-bottom: 1px solid #EDEFF3;
    }
    .third-content, .fourth-content {
      .second-title {
        .title-right {
          top: -8px;
        }
      }
    }
  }

}