.yc-main-side {
  position: fixed;
  top: 50px;
  width: 190px;
  height: calc(100% - 50px);
  .ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline {
    height: 100%;
  }
  .ant-menu.ant-menu-dark {
    background: #37424F;
    .ant-menu-inline.ant-menu-sub {
      background: #293038;
    }
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #016AA9;
  }
}
.yc-content {
  margin: 70px 0 20px 210px ;
  padding: 0 20px;
  width: calc(100% - 230px);
  background: #fff;
}