  .header-title {
    border-bottom: 1px solid #EDEFF3;
    height: 54px;
    color: #293038;
    font-size: 14px;
    line-height: 54px;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    .title-right {
      position: absolute;
      right: 0;
      top: 10px;
      line-height: 32px;
      .yc-search-line {
        display: inline-block;
      }
    }
  }
  .second-title {
    font-size: 14px;
    font-weight: bold;
    color: #293038;
    line-height: 16px;
    padding-left: 8px;
    margin: 20px 0;
    border-left: 3px solid #016AA9;
    position: relative;
    .title-right {
      position: absolute;
      right: 0;
      top: 10px;
      line-height: 32px;
      .yc-search-line {
        display: inline-block;
      }
    }
  }
  .yc-table-wrapper {
    .ant-table-wrapper {
      .ant-table {
        color: #293038;
        .ant-table-thead > tr > th {
          background: #EDEFF3;
          color: #4E5566;
          padding: 15px 16px;
          line-height: 15px;
        }
        .ant-table-column-sorters {
          padding: 0;
        }
        //.ant-table-tbody > tr{
        //  > td {
        //    padding: 20px;
        //  }
        //}
      }
    }
  }
  .ant-btn-primary {
      background: #016AA9;
      border-color: #016AA9;
  }
  .ant-btn-primary:hover {
      background: #017AC2;
      border-color: #017AC2;
    }
    .ant-btn-ghost {
      color: #016AA9;
      border-color: #016AA9;
    }
    .ant-btn-ghost:hover.ant-btn-ghost:focus, .ant-btn-ghost:hover {
      background-color: #016AA9;
      border-color: #016AA9;
      color: white;
    }
  .ant-btn-primary:focus {
    background: #016AA9;
    border-color: #016AA9;
  }
  .ant-btn-ghost:focus {
    background: white;
    border-color: #016AA9;
    color: #016AA9;
  }
  .column-center {
    text-align: center !important;
  }
  .ant-message {
    z-index: 1052;
  }
.ant-radio-group.ant-radio-group-outline {
  .ant-radio-button-wrapper:hover {
    color: #016AA9;
  }
  .ant-radio-button-wrapper-checked {
    border-color: #016AA9;
    color: #016AA9;
  }
.ant-radio-button-wrapper-checked.ant-radio-button-wrapper:first-of-type {

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
  .ant-radio-button-wrapper-checked.ant-radio-button-wrapper:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #016AA9;
  }
}

.input-textarea-wrapper {
  textarea {
    color: #293038;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 16px;
  }
}
  .ant-modal-mask {
    z-index: 2053;
  }
  .ant-modal-wrap {
    z-index: 2053;
  }
  .ant-input {
    color: #293038;
  }
  .ant-select {
    color: #293038;
    .ant-select-arrow {
      color: #7D8699;
    }
    .ant-select-item {
      color: #293038;
    }
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background: #EAF7FF;
    }
  }
  .ant-select-open {
    .ant-select-arrow {
      transform: rotate(180deg);
    }
  }

  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: #EAF7FF;
  }

  .ant-pagination {
    .ant-pagination-total-text {
      color: #7D8699;
    }
    .ant-pagination-item-active {
      a {
        color: #017AC2;
      }
      border-color: #017AC2;
    }
    .ant-pagination-item {
      color: #293038;
    }
  }

  .ant-select-selection-placeholder {
    color: #B2B8C9 !important;
    opacity: 1;
  }

  input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #B2B8C9 !important;
  }

  input:-moz-placeholder,textarea:-moz-placeholder{
    color:#B2B8C9 !important;
    }

  input::-moz-placeholder,textarea::-moz-placeholder{
    color:#B2B8C9 !important;
  }
  input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color:#B2B8C9 !important;
   }

  .ant-picker-dropdown {
    .ant-picker-today-btn {
      color: #016AA9;
    }
    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
      border-color: #016AA9;
    }
  }