  .header-title {
    border-bottom: 1px solid #EDEFF3;
    height: 54px;
    color: #293038;
    font-size: 14px;
    line-height: 54px;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    .title-right {
      position: absolute;
      right: 0;
      top: 10px;
      line-height: 32px;
      .yc-search-line {
        display: inline-block;
      }
    }
  }
  .second-title {
    font-size: 14px;
    font-weight: bold;
    color: #293038;
    line-height: 16px;
    padding-left: 8px;
    margin: 20px 0;
    border-left: 3px solid #016AA9;
    position: relative;
    .title-right {
      position: absolute;
      right: 0;
      top: 10px;
      line-height: 32px;
      .yc-search-line {
        display: inline-block;
      }
    }
  }
  .yc-table-wrapper {
    .ant-table-wrapper {
      .ant-table {
        color: #293038;
        .ant-table-thead > tr > th {
          background: #EDEFF3;
          color: #4E5566;
        }
      }
    }
  }
  .ant-btn-primary {
      background: #016AA9;
      border-color: #016AA9;
  }
  .ant-btn-primary:hover {
      background: #017AC2;
      border-color: #017AC2;
    }
    .ant-btn-ghost {
      color: #016AA9;
      border-color: #016AA9;
    }
    .ant-btn-ghost:hover.ant-btn-ghost:focus, .ant-btn-ghost:hover {
      background-color: #016AA9;
      border-color: #016AA9;
      color: white;
    }
  .ant-btn-primary:focus {
    background: #016AA9;
    border-color: #016AA9;
  }
  .ant-btn-ghost:focus {
    background: white;
    border-color: #016AA9;
    color: #016AA9;
  }
  .column-center {
    text-align: center !important;
  }
  .ant-message {
    z-index: 1052;
  }
.ant-radio-group.ant-radio-group-outline {
  .ant-radio-button-wrapper-checked {
    border-color: #016AA9;
    color: #016AA9;
  }
.ant-radio-button-wrapper-checked.ant-radio-button-wrapper:first-of-type {

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
  .ant-radio-button-wrapper-checked.ant-radio-button-wrapper:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #016AA9;
  }
}

.input-textarea-wrapper {
  textarea {
    color: #293038;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 16px;
  }
}
  .ant-modal-mask {
    z-index: 2053;
  }
  .ant-modal-wrap {
    z-index: 2053;
  }