.abnormal-monitoring-top-select {
  height: 80px;
  line-height: 80px;
  width: calc(100% + 80px);
  border-bottom: 20px solid #EDEFF3;
  margin: -20px 0 20px -40px;
  background: white;
  box-sizing: content-box;
  padding: 0 20px;
  .iconshujuleixing {
    font-size: 24px;
    color: #FD9C26;
  }
  .label {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin: 0 10px;
  }
  .ant-select {
    width: 240px;
    .ant-select-selector {
      height: 40px;
      box-shadow: none !important;
      line-height: 40px;
      .ant-select-selection-item {
        line-height: 39px;
      }
    }
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
  .ant-select-focused {
    .ant-select-selector {
      border: 1px solid #0E68C2 !important;
    }
  }
  .ant-select:hover {
    .ant-select-selector {
      border-color: #0E68C2;
    }
  }
}