.ant-modal {
  .ant-modal-body {
    padding: 30px 30px 40px 30px;
  }
  .ant-modal-footer {
    padding: 20px;
    button + button {
      margin-left: 20px;
    }
    .ant-btn {
      padding: 0 28.1px;
    }
    .cancel-btn:hover {
      color: #016AA9;
      border-color: #016AA9;
    }
    .cancel-btn {
      color: #293038;
    }
  }
  .ant-modal-close-x {
    .iconclose {
      font-size: 14px;
    }
  }
}