.yc-header {
  z-index: 1051;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: left;
  background: #016AA9;
  .icondaohang-logo {
    margin-left: 20px;
    font-size: 21px;
    vertical-align: bottom;
  }
  .title {
    font-size: 16px;
    margin-left: 6px;
    font-weight: bold;
  }
  .header-user-name {
    float: right;
    background: #017AC2;
    padding: 0 20px;
    height: 50px;
    cursor: pointer;
    .anticon {
      font-size: 8px;
    }
    .ant-dropdown-trigger {
      height: 50px;
    }
  }
}