.yc-login {
  height: 100%;
  width: 100%;
  .login-header {
    height: 14.2%;
    background: white;
    position: relative;
    .login-header-logo {
      margin-left: 24%;
      width: 256px;
      position: absolute;
      top: calc(50% - 24px);
    }
  }
  .login-center {
    height: 71.6%;
    background:linear-gradient(135deg,rgba(22,161,242,1) 0%,rgba(13,100,191,1) 100%);
    padding: 40px 24% 40px 23.4%;
    overflow: hidden;
    width: 100%;
    position: relative;
    .login-center-img-wrapper {
      float: left;
    }
    .login-center-form-wrapper {
      float: right;
      width: 380px;
      height: 340px;
      background: white;
      position: absolute;
      right: 24%;
      top: calc(50% - 170px);
      padding: 40px 30px;
      border-radius:4px;
      &_title {
        color: #20242E;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 36px;
      }
      .ant-input-affix-wrapper {
        height: 44px;
        .iconfont {
          color: #7D8699;
        }
        .ant-input-prefix {
          margin-right: 20px;
        }
      }
      .login-form-button {
        width: 100%;
        background: #0E68C2;
        height: 44px;
        font-size: 16px;
      }
      .login-form-button:hover {
        background: #0C5AA8;
      }
      .ant-form-item-has-error{
        .ant-input-affix-wrapper {
          border-color: #F03733;
        }
        .ant-form-item-explain, .ant-form-item-has-error .ant-form-item-split {
          color: #F03733;
          font-size: 12px;
        }
      }
      .login-password {
        .ant-form-item-explain {
          position: absolute;
          bottom: -24px;
        }
      }
    }
  }
  .login-bottom:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .login-bottom {
    text-align: center;
    height: 14.2%;
    color: #7D8699;
    .bottom-content-wrapper {
      .icondaohang-logo {
        vertical-align: middle;
        margin-right: 2px;
      }
      > p:first-child {
        margin-bottom: 12px;
      }
      vertical-align: middle;
      display: inline-block;
    }
  }
}