.yc-main-side {
  z-index: 1;
  .ant-menu {
    .ant-menu-submenu-title {
      padding-left: 20px !important;
      .iconfont {
        margin-right: 6px;
      }
    }
    .ant-menu-item {
      margin: 0;
    }
  }
}